// Color settings
$primary-color: #fed136;
$secondary-color: #fec503;   
$secondary-dark: #333;
$navbar-color: white;
$muted: #777;

// Font Families
$primary-font: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
$secondary-font: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;