.navbar-default {
    border-color: transparent;
    background-color: $secondary-dark;

    .navbar-brand {
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        color: $primary-color;

        &:hover,
        &:focus,
        &:active,
        .active {
            color: $secondary-color;
        }
    }

    .navbar-collapse {
        border-color: rgba(255, 255, 255, .02);
    }

    .navbar-toggle {
        border-color: $primary-color;
        background-color: $primary-color;

        .icon-bar {
            background-color: $navbar-color;

            &:hover,
            &:focus {
                background-color: $primary-color;
            }
        }
    }

    .nav li a {
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 400;
        letter-spacing: 1px;
        color: $navbar-color;
        -webkit-transition: all ease .35s;
        -moz-transition: all ease .35s;
        transition: all ease .35s;

        &:hover,
        &:focus {
            outline: 0;
            color: $primary-color;
        }
    }

    .navbar-nav>.active>a {
        border-radius: 0;
        color: $navbar-color;
        background-color: $primary-color;

        &:hover,
        &:focus {
            color: $navbar-color;
            background-color: $secondary-color;
        }
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;


        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        // background-color: #222;
        background-color: $secondary-dark;

        .navbar-brand {
            font-size: 1.5em;
        }
    }
}