#contact {
    background-color: #222;
    background-image: url('/images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
      color: #fff;
    }
    .form-group {
      margin-bottom: 25px;
      input, textarea {
        padding: 20px;
      }
      input.form-control {
        height: auto;
      }
      textarea.form-control {
        height: 236px;
      }
    }
    .form-control:focus {
      border-color: #aaa;
      box-shadow: none;
    }
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      text-transform: uppercase;
      font-family: $primary-font;
      font-weight: 700;
      color: #bbb;
    }
  }